<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.spring.kreidun.dao.QuestionDaoCsv">
        <property name="questionsFileName" value="test-questions.csv"></property>
    </bean>

    <bean id="testingService" class="ru.otus.spring.kreidun.service.TestingServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>
</beans>