<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        table td{
            vertical-align:top;
            border:solid 1px #888;
            padding:10px;
        }

    </style>
</head>
<body>
<h1>Ошибка:</h1>
<table>
    <tr>
        <td>Date</td>
        <td th:text="${timestamp}"/>
    </tr>
    <tr>
        <td>Path</td>
        <td th:text="${path}"/>
    </tr>
    <tr>
        <td>Error</td>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${status}"/>
    </tr>
    <tr>
        <td>Message</td>
        <td th:text="${message}"/>
    </tr>

</table>
<div class="row">
    <form id="listBooks" th:action="@{/}" action="listBooks.html">
        <button type="submit">Вернуться к списку книг</button>
    </form>

</div>
</body>
</html >

