<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }
        a:link  {
            color: #008000;
            text-decoration:underline;
        }
        a:hover {
            color: #800000;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>Список авторов:</h1>

<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}" th:object="${author}">
        <td th:text="*{id}">1</td>
        <td th:text="*{getLastName()}">LastName</td>
        <td th:text="*{getFirstName()}">FirstName</td>
    </tr>
    </tbody>
</table>
<form id="listbooks" th:action="@{/}" action="listBooks.html">
    <button type="submit">Вернуться к списку книг</button>
</form>

</body>
</html>
